.card-hover {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
	transform: translateY(-5px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.card-img-custom {
	min-height: 500px;
	object-fit: cover;
	transition: transform .8s;
}

.card-hover:hover .card-img-custom {
	transform: scale(1.05);
}